	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
	
<ol>
	
	<li>Dr. A. R. Kontagora     – 		SOC 			   </li>
	<li>Dr. I. M. Sodangi,	    -		Dir Admin 		   </li>
	<li>Ibrahim Mahmud 		    -		DD Training/Admin  </li> 
	<li>Engr. Goni Sanda	    -	   Aviation/Ops        </li> 
	<li>Dr. Aliyu Tanko		    -		Coord/ HSS         </li> 
	<li>Ibrahim Dikko Yar’adua	-		Special Duties     </li> 
	<li>Ishaq Jae				-		ACAO/HSS           </li> 
	<li>Houda Sheikh Saleh		-		ACAO – SOC         </li>
	<li>Zakariya Muhammed Taminu-		ICT/PRSILS         </li>
	<li>Waziri	Ummi Hassan		-		SAO – PRSILS       </li>
	<li>Essin Ally 				-		AOI – SOC          </li>

</ol>

	</p>


	</body>
	</html>

